<section class="main-container">
	<div class="main-title">Услуги</div>

	<div class="home-services">
		<div class="home-services__item">
			<img class="home-services__image" src="img/home-icons/icon-1.png">
			<div class="home-services__circle"></div>
			<div class="home-services__text">
				Косметический ремонт <br> парадных
			</div>
		</div>

		<div class="home-services__item">
			<img class="home-services__image" src="img/home-icons/icon-2.png">
			<div class="home-services__circle"></div>
			<div class="home-services__text">
				Общестроительные работы
			</div>
		</div>

		<div class="home-services__item">
			<img class="home-services__image" src="img/home-icons/icon-3.png">
			<div class="home-services__circle"></div>
			<div class="home-services__text">
				Благоустройство <br> придомовой территории
			</div>
		</div>

		<div class="home-services__item">
			<img class="home-services__image" src="img/home-icons/icon-4.png">
			<div class="home-services__circle"></div>
			<div class="home-services__text">
				Установка окон и дверей
			</div>
		</div>

		<div class="home-services__item">
			<img class="home-services__image" src="img/home-icons/icon-5.png">
			<div class="home-services__circle"></div>
			<div class="home-services__text">
				Ремонт общедомовых <br> инженерных систем
			</div>
		</div>

		<div class="home-services__item">
			<img class="home-services__image" src="img/home-icons/icon-6.png">
			<div class="home-services__circle"></div>
			<div class="home-services__text">
				Изготовление <br> металлоконструкций
			</div>
		</div>

		<div class="home-services__item">
			<img class="home-services__image" src="img/home-icons/icon-7.png">
			<div class="home-services__circle"></div>
			<div class="home-services__text">
				Косметический ремонт парадных
			</div>
		</div>

		<div class="home-services__item">
			<img class="home-services__image" src="img/home-icons/icon-8.png">
			<div class="home-services__circle"></div>
			<div class="home-services__text">
				Ремонт фасадов и многоквартирных домов
			</div>
		</div>
	</div>
</section>