.header {
	/*padding-bottom: 32px;*/
	position: relative;
	height: 100vh;
}

.header_background-color {
	position: absolute;
	width: 100%;
	height: 100%;

	background: linear-gradient(
		90deg, rgba(15, 15, 108, 0.52) 0%, rgba(0, 141, 210, 0.52) 100%
	);
	z-index: -1;
}

.header-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

.header-background__item img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.navigation {
	display: flex;
	justify-content: space-between;

	margin: 0 83px;
}

.navigation__list {
	/*margin: 52px 0;*/
	/*margin: 32px 0 52px 0;*/
	margin: 32px 0;
}

.navigation__list-item {
	display: inline-block;
	color: white;
	font-weight: 400;
}

.navigation__list-item:hover {
	text-decoration: underline;
}

.navigation__list-item:not(:last-child) {
	margin-right: 52px;
}


.header__info {
	padding-left: 22px;
}

.header__info-item {
	position: relative;
	display: inline-block;
	font-size: 14px;
	color: white;
	vertical-align: top;
}

.header__info-item i {
	position: absolute;
	left: -22px;

	color: #008DD2;
	font-size: 16px;
}

.header__info-item:not(:last-child) {
	margin-right: 40px;
}

.header__info-item time, .header__info-item a {
	font-size: 16px;
	font-weight: 400;	
}

.header__title {
	font-size: 44px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: white;
	
	display: inline-block;
	margin-top: 100px;
}

.header__button {
	font-size: 18px;
	letter-spacing: 0.02em;
	color: white;
	padding: 16px 32px;
	font-weight: 300;

	background-color: #008DD2;
	border-radius: 4px;

	display: block;
	margin-top: 32px;
}

.header__sliders {
	display: flex;
	justify-content: center;

	/*margin-top: 152px;*/
	position: absolute;
	bottom: 32px;
	left: calc(50% - 282px / 2);
}

.header__sliders span {
	width: 50px;
	height: 4px;
	background-color: white;
	border-radius: 0;

	transition: opacity 250ms linear;
	opacity: 0.6;
}

.header__sliders span:not(:last-child) {
	margin-right: 8px;
}

.header__sliders span.swiper-pagination-bullet-active {
	opacity: 1;
}