.header {
	height: 90vh;
	position: relative;
}

.header-background {
	position: absolute;
	width: 100%;
	height: 100%;

	background: linear-gradient(
		90deg, rgba(15, 15, 108, 0.52) 0%, rgba(0, 141, 210, 0.52) 100%
	);
	z-index: -1;	
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-left: 83px;
	margin-right: 83px;
}

.navigation__left-container {

}

.navigation__logo {
	width: 120px;
}

.navigation__list {
	display: flex;
}

.navigation__item {
	margin-top: 32px;
	margin-bottom: 32px;

	color: white;
	font-weight: 400;
}

.navigation__item:not(:last-child) {
	margin-right: 32px;
}

.header-info {
	padding-left: 20px;
	margin-top: 32px;
}

.header-info__item {
	position: relative;
	display: inline-block;
	font-size: 14px;
	color: white;
	vertical-align: top;
}

.header-info__item i {
	position: absolute;
	left: -22px;

	color: #008DD2;
	font-size: 16px;
}

.header-info__item:not(:last-child) {
	margin-right: 52px;
}

.header-info__item time, .header-info__item a {
	font-size: 16px;
	font-weight: 400;	
}

.header__slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

.header__slide img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.header__title {
	font-size: 44px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: white;
	display: block;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.header__button {
	font-size: 18px;
	letter-spacing: 0.02em;
	color: white;
	padding: 16px 32px;
	font-weight: 300;

	background-color: #008DD2;
	box-shadow: 0px 4px 8px rgba(0, 141, 210, 0.25);
	border-radius: 4px;

	margin-top: 32px;
}

.header__button-container {
	position: absolute;
	top: 50%;
	transform: translateY(50%);
}

.header__slider-pagination {
	position: absolute;
	bottom: 32px;
	width: 100%;

	text-align: center;
}

.header__slider-pagination span {
	width: 50px;
	height: 4px;
	background-color: white;
	border-radius: 0;

	transition: opacity 250ms linear;
	opacity: 0.6;
}

.header__slider-pagination span:not(:last-child) {
	margin-right: 8px;
}

.header__slider-pagination span.swiper-pagination-bullet-active {
	opacity: 1;
}


/*

	-> блок с иконками разделить на два столбца

*/
@media screen and (max-width: 1024px)
{
	.header-info {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -16px;
	}

	.header-info__item {
		width: 50%;
		margin-bottom: 16px;
	}

	.header-info__item:not(:last-child) {
		margin-right: 0;
	}
}



/*

	-> отступы от страницы с 83 до 16
	-> хедер во всю высоту
*/
@media screen and (max-width: 768px)
{
	.header {
		height: 100vh;
	}

	.navigation {
		margin-left: 16px;
		margin-right: 16px;
	}

	.header__title {
		top: 60%;
	}

	.header__button-container {
		top: 60%;
	}

}



/*

	-> меньше заголовок
	-> убрать иконки
	-> добавить гамбургер

*/
@media screen and (max-width: 425px)
{
	.header {
		height: calc(var(--vh, 1vh) * 100);
	}

	.header__title {
		font-size: 24px;
	}

	.header-info {
		padding-left: 0;
		margin-top: 32px;
	}

	.header-info__item i {
		display: none;
	}

	.header-info__item:nth-child(odd) {
		padding-right: 8px;
	}

	.header-info__item:nth-child(even) {
		padding-left: 8px;
	}

	.navigation {
		margin: 0;
		flex-direction: column;
		background-color: #008DD2;
		position: relative;
	}

	.navigation__left-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		/*margin: 0 16px;*/
		padding: 16px;
	}

	.navigation__hamburger-container {
		/*width: 40px;*/
		width: auto;
		display: flex;
		align-items: center;
		max-height: 36px;
	}

	.navigation__hamburger .line {
		width: 30px;
		height: 4px;
		background-color: #ecf0f1;
		border-radius: 4px;
		display: block;
		margin: 6px auto;
		transition: all 0.3s ease-in-out;
	}

	.navigation__hamburger:hover{
		cursor: pointer;
	}

	.navigation__hamburger {
		position: relative;
		transition: all 0.3s ease-in-out;
		max-height: 36px;
	}

	.navigation__hamburger.is-active {
		transform: rotate(45deg);
	}

	.navigation__hamburger.is-active .line {
		width: 30px;
	}

	.navigation__hamburger.is-active .line:nth-child(2) {
		opacity: 0;
	}

	.navigation__hamburger.is-active .line:nth-child(1) {
		transform: translateY(9px);
	}

	.navigation__hamburger.is-active .line:nth-child(3) {
		transform: translateY(-11.5px) rotate(90deg);
	}

	.navigation__right-container {
		width: 100%;
		background-color: #008DD2;
		position: absolute;
		top: 100%;
		z-index: 1;

		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s linear;
	}

	.navigation__right-container--active {
		max-height: 500px;
	}

	.navigation__list {
		flex-direction: column;
		padding: 16px;

		width: 100%;
	}

	.navigation__item {
		margin-top: 0;
		margin-bottom: 0;
		
		text-align: left;
		margin-bottom: 16px;
	}

	.navigation__item:not(:last-child) {
		margin-right: 0;
	}

	.header__title br {
		display: none;
	}

	.header__button {
		margin-top: 16px;
	}

	.navigation__logo {
		width: 72px;
		max-height: 35px;
		object-fit: contain;
		filter: brightness(0) invert(1);
	}
}

@media screen and (max-height: 570px) and (max-width: 425px)
{	
	.header__slider-pagination {
		display: none;
	}

	.header__title {
		bottom: 64px;
		top: auto;
	}

	.header__button-container {
		bottom: 64px;
		top: auto;
	}

}