.main-container {
	margin-left:  83px;
	margin-right: 83px;
}

@media screen and (max-width: 768px)
{
	.main-container {
		margin-left:  16px;
		margin-right: 16px;
	}
}

.main-title {
	font-size: 32px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #008DD2;

	margin-top: 40px;
	margin-bottom: 32px;
}